{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}

{% block admin_title %}{{ parent() }} - Instagram Admin{% endblock %}
{% block admin_page_title_content %}Instagram Admin{% endblock %}

{% block admin_stylesheets %}
<link rel="stylesheet" href="{{ asset('/bundles/newscoopnewscoop/css/jquery.dynatable.css') }}">
<link rel="stylesheet" href="{{ asset('/bundles/newscoopinstagramplugin/css/backend.css') }}">
{% endblock %}

{% block admin_scripts %}
<script src="{{ asset('/js/select2/select2.js') }}"></script>
<script src="{{ asset('/bundles/newscoopnewscoop/js/jquery.dynatable.js') }}"></script>
{% endblock %}

{% block admin_content %}
<div class="plugin-container">
    <h4>Instagram Photos</h4>
    <div>
        <span><label for="tag">Tag to ingest:</label>
          <input type="text" id="tag" name="tag" value="{{ tag }}">
        </span>
        <span><label for="limit">Number of photo to ingest:</label>
          <input type="text" id="limit" name="limit" value="{{ limit }}">
        </span>
        <span>
            <button id="runNow">Run Now</button>
        </span>
        <span><label for="mins"> or Run every :</label>
          <input type="text" id="mins" name="mins" value="{{ mins }}"> minutes
        </span>
        <span>
            <button id="saveSchedule">Schedule</button>
        </span>
    </div>
    
    <br />
    <br />

    <table id="photos-table" class="table table-bordered table-hover" style="word-wrap: break-word;table-layout: fixed;">
        <thead>
            <tr>
                <th data-dynatable-column="thumbnailUrl" style="width: 120px;" >Thumbnail</th>
                <th data-dynatable-column="instagramUserName">Instagram User</th>
                <th data-dynatable-column="tags">Tags</th>
                <th data-dynatable-column="caption">Caption</th>
                <th data-dynatable-column="locationName">LocationName</th>
                <th data-dynatable-column="createdAt">Instagram Created</th>
                <th data-dynatable-column="isActive">Active</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script type="text/javascript">

    var dynatable = $('#photos-table').dynatable({
        inputs: {
            paginationClass: 'pagination',
            paginationActiveClass: 'current',
            paginationDisabledClass: 'unavailable',
            paginationPrev: '&laquo;',
            paginationNext: '&raquo;',
        },
        dataset: {
            ajax: true,
            ajaxUrl: Routing.generate('newscoop_instagramplugin_admin_loadphotos'),
            ajaxOnLoad: false,
            records: [],
            perPageDefault: 5,
            perPageOptions: [5,10,20,50,100],
        },
        features: {
            paginate: true,
        },
        writers: {
            _cellWriter: function (column, record) {
                if (column.id == 'thumbnailUrl') {
                    return "<td><img src='"+record.thumbnailUrl+"' width='100' height='100'></td>"; 
                }
                if (column.id == 'instagramUserName') {
                    return "<td>"+record.instagramUserName+"</td>";
                }
                if (column.id == 'tags') {
                    return "<td>"+record.tags+"</td>";
                }
                if (column.id == 'caption') {
                    return "<td>"+record.caption+"</td>";
                }
                if (column.id == 'locationName') {
                    return "<td>"+record.locationName+"</td>";
                }
                if (column.id == 'createdAt') {
                    return "<td>"+record.createdAt.date+"</td>";
                }
                if (column.id == 'isActive') {
                    if (record.isActive) {
                        return "<td><button class='btn btn-xs btn-default action-btn dynatable-photo-status' data-instagram-id='"+record.id+"'>ACTIVE</button></td>";
                    }
                    return "<td><button class='btn btn-xs btn-default action-btn dynatable-photo-status' data-instagram-id='"+record.id+"'>HIDDEN</button></td>";
                }
            }
        }
    }).data('dynatable');

    $('.dynatable-photo-status').live('click', function(e){
        var photoId = $(this).attr('data-instagram-id');
        var state = $(this).html();
        var that = $(this);

        if (state === "ACTIVE") {
            var url = '/admin/instagram/deactivate/' + photoId;
            state = "HIDDEN";
        } else {
            var url = '/admin/instagram/activate/' + photoId;
            state = "ACTIVE";
        }

        $.post(url)
            .done(function(data) {
              if (data.status) {
                flashMessage('Photo active status updated sucessfully');
                that.html(state);
                return true;
            }

            flashMessage('Error updating photo status', 'error');
        });
    });

    $('#saveSchedule').live('click', function() {
        var data = {
            tag: $('#tag').val(),
            limit: $('#limit').val(),
            mins: $('#mins').val()
        }

        $.post("/admin/instagram", data)
            .done(function(data) {
                if (data.status) {
                    flashMessage('Schedule saved successfully');
                    return true;
                }
            flashMessage('Error saving schedule: ' + data.message, 'error');
        });
    });

    $('#runNow').live('click', function() {
        flashMessage('Processing');
        var data = {
            tag: $('#tag').val(),
            limit: $('#limit').val(),
        }
        $.post("/admin/instagram/ingest", data)
            .done(function(data) {
                if (data.status) {
                    flashMessage('Ingest ran successfully: ' + data.message);
                    // refresh dynatable
                    dynatable.process();
                    return true;
                }
            flashMessage('Error running ingest: ' + data.message, 'error');
        });
    });

</script>

{% endblock %}

